.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    width: 25%;
    margin: 10px;
}

.button {
    margin-bottom: 5vh;
}

#event2head {
    /* margin-top: 5px; */
    padding-top: 5vh;
}

@media (max-width: 768px) {
    .image-container img {
        width: 60%;
        padding: 0px;
        height: 100%;
    }
    .contents {
        width: 100%;
    }
    .button {
        display: flex;
        margin: 5vh 50vw 5vh;
        justify-content: center;
    }
    .button button {
        /* margin-right: 2vw;
        left: 50%; */
    }
    #event2head {
        padding-top: 22px;
    }
    #event2btn {
        margin-bottom: -2vh;
    }
}
