.columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: -100px;
    /* background-color: bisque; */
    height: 60vh;
    border-bottom: 4px solid #6e6b6b;
    padding: 10vh;
    margin: 0px 20px;
}
.item {
    margin-left: 120px;
}
.item1 {
    height: 50%; 
}
.imgcontainer {
    /* margin: 10vh 10vh 10vh 20vh; */
    margin: 0vh 26vh 20vh 20vh;
    height: 63%;
    background-color: white;
    box-shadow: 4px 5px 8px 1px #888888;
    border: 1px solid black;
}
.image {
    height: 100%;
    width: 100%;
}
.caption {
    border-top: 1px solid black;
    font-size: large;
    text-align: center;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.details {
    /* background-color: rgb(182, 69, 69); */
    grid-column-start: 2;
    grid-column-end: 4;
    height: 50%;
    margin-left: -115px;
    margin-right: 0vw;
    padding: 20px;
    font-size: large;
    padding-left: 0vw;
    list-style-type: none;
    line-height: 33px;
}